{
  "semi": true,
  "trainlingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "arrowParens": "always",
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "endOfLine": "lf"
}
